<!--<div style="background-color: red;" class="row justify-content-center">
    <div class="col-6 text-left">
        <h3>Datos de la clase: {{clase.nombre}}</h3>
    </div>
    <div class="col-auto row justify-content-right">
        <div class="col-6 text-right">
            <button *ngIf="!editarActividadesView" type="button" class="btn btn btn-outline-success"
                (click)="editarActividades()"><i
                class="fa fa-edit"></i> Editar actividades</button>
        </div>
        <div class="col-6 text-right">
            <button *ngIf="!editarActividadesView" type="button" class="btn btn-danger" (click)="cancelar()"><i
                class="fa fa-times-circle"></i> Cerrar
                Clase</button>
        </div>
    </div>
</div>-->
<div class="row justify-content-center">
    <div class="col-7 text-left">
        <h3>Datos de la clase: {{clase.nombre}}</h3>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-6 text-right">
                <button *ngIf="!editarActividadesView" type="button" class="btn btn btn-outline-success"
                    (click)="editarActividades()"><i
                    class="fa fa-edit"></i> Editar actividades</button>
            </div>
            <div class="col-6 text-right">
                <button *ngIf="!editarActividadesView" type="button" class="btn btn-dark" (click)="cancelar()"><i
                    class="fa fa-times-circle"></i> Cerrar
                    Clase</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" (click)="irHome()"><a class="migas"><i class="fa fa-home"></i>
                        Home</a></li>
                <li class="breadcrumb-item" (click)="cancelar()"><a class="migas"><i class="fa fa-book"></i>
                        Clases</a></li>
                <li class="breadcrumb-item active" aria-current="page">Estadisticas: {{clase.nombre}}</li>
            </ol>
        </nav>
    </div>
</div>
<div class="col-12" *ngIf="editarActividadesView">
    <div class="card">
        <div class="card-body">
            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                </mat-form-field>
            </div>
            <div class="example-container">

                <mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="profesor">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Profesor </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.profesor.nombre}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="clase">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Clase </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.clase}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-3">
                    <button class="btn btn btn-danger" (click)="cancelarEdicion()"><i class="fa fa-times-circle"></i> Cancelar</button>
                </div>
                <div class="col-3">
                    <button class="btn btn btn-success" (click)="actualizar()"><i class="fa fa-refresh"></i> Actualizar Actividades</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="graficas">
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <h5>Estadisticas de las actividades</h5>
        </div>
        <div class="col-4">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{estadoSeleccionado}}
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item" (click)="seleccionarEstado(estado)" *ngFor="let estado of estados">
                        <a>{{estado.nombre}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <canvas id="progresoTotal"></canvas>
        </div>
    </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <h5>Estadisticas conjuntas</h5>
        </div>
        <div class="col-4">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{estadoConjuntoSeleccionado.nombre}}
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item" (click)="seleccionarEstadoConjunto(estado)"
                        *ngFor="let estado of estadosConjunto">
                        <a>{{estado.nombre}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <canvas id="progresoConjuntoTotal"></canvas>
        </div>
    </div>
</div>