<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #54577C;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<!--<div class="toolbar .container-fluid row collapse navbar-collapse" role="banner">
  <div class="col-sm-2 col-1 text-center">
    <img style="cursor: pointer;" height="40px" width="182px" (click)="entrarHome()"
      src="assets/LogoDefinitivoFinal.png">
  </div>
  <div *ngIf="dentro" class="col-7">
    <div *ngIf="estudiante">

    </div>
    <div *ngIf="profesor">

    </div>
  </div>
  <div *ngIf="!dentro" class="col-7">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!dentro" class="col-1">
    <div class="text-right">
      <button type="button" (click)="entrarProfesor()" class="btn btn-primary">Profesor</button>
    </div>
  </div>
  <div *ngIf="!dentro" class="col-1">
    <div class="text-right">
      <button type="button" (click)="entrarEstudiante()" class="btn btn-success">Estudiante</button>
    </div>
  </div>
  <div *ngIf="dentro" class="col-offset-1 text-right ">
    <button type="button" (click)="salir()" class="btn btn-danger">Salir <i class="fa fa-sign-out"></i></button>
  </div>
  <!--<div class="col-sm-10 col-11">
    <div class="row">
      <div class="row col-12 justify-content-center">
        <div *ngIf="!dentro" class="col-3 text-right">
          <button type="button" (click)="entrarProfesor()" class="btn btn-primary">Profesor</button>
        </div>
        <div *ngIf="!dentro" class="col-3 text-right">
          <button type="button" (click)="entrarEstudiante()" class="btn btn-success">Estudiante</button>
        </div>
        <div *ngIf="dentro" class="col-auto">
          {{personaIniciada.nombre}} {{personaIniciada.apellidos}}
        </div>
        <div *ngIf="dentro" class="col-md-3 col-auto text-right">
          <button type="button" (click)="salir()" class="btn btn-danger">Salir <i class="fa fa-sign-out"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>-->
<nav id="barra-navegacion" class="navbar navbar-expand-md bg-dark navbar-dark bg-company-blue sticky-top">

  <a style="cursor: pointer" class="navbar-brand">
    <img (click)="entrarHome()" src="assets/Logo10.png" width="40" height="40" alt="">
    <a style="cursor: pointer; color: rgb(233, 239, 255); margin-left: 5px;" class="navbar-brand" (click)="entrarHome()"><i>EmotionFace</i></a>
  </a>
  <!--<a style="cursor: pointer; color: rgb(233, 239, 255); margin-left: 0px;" class="navbar-brand" (click)="entrarHome()"><b>EmotionFace</b></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto text-center">
      <!--<a *ngIf="profesor" style="cursor: pointer;color: rgb(233, 239, 255);"
        class="nav-item nav-link" (click)="abrirActividadActual()"><i class="fa fa-home"></i>
        Home</a>-->
      <!--<a *ngIf="profesor && actividadActual" style="cursor: pointer;color: rgb(233, 239, 255);"
        class="nav-item nav-link" (click)="abrirActividadActual()"><i class="fa fa-external-link"></i>
        Actividad Actual</a>-->
      <!--<a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirAlumnos()"><i class="fa fa-user"></i>
        Alumnos</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirClases()"><i class="fa fa-book"></i>
        Clases</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirActividades()"><i class="fa fa-university"></i>
        Actividades</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirProfesor()"><i class="fa fa-id-card"></i>
        Profesores</a>-->
    </div>

    <form class="form-inline my-2 my-lg-0 text-right">
      <a *ngIf="profesor" style="cursor: pointer;color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirActividadActual()"><i class="fa fa-home"></i>
        Home</a>
      <!--<a *ngIf="profesor && actividadActual" style="cursor: pointer;color: rgb(233, 239, 255);"
        class="nav-item nav-link" (click)="abrirActividadActual()"><i class="fa fa-external-link"></i>
        Actividad Actual</a>-->
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirAlumnos()"><i class="fa fa-user"></i>
        Alumnos</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirClases()"><i class="fa fa-book"></i>
        Clases</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirActividades()"><i class="fas fa-chalkboard-teacher"></i>
        Actividades</a>
      <a *ngIf="profesor" style="cursor: pointer; color: rgb(233, 239, 255);" class="nav-item nav-link"
        (click)="abrirProfesor()"><i class="fa fa-id-card"></i>
        Profesores</a>
      <a *ngIf="!dentro" class="text-center">
        <button type="button" (click)="entrarProfesor()" class="btn btn-primary form-control mr-sm-2"><i class="fas fa-user-graduate"></i> Profesor</button>
      </a>
      <a *ngIf="!dentro" class="text-center">
        <button type="button" (click)="entrarEstudiante()" class="btn btn-success my-2 my-sm-0"><i class="fas fa-user"></i> Estudiante</button>
      </a>

      <a *ngIf="dentro" class="text-center">
        <button type="button" (click)="salir()" class="btn btn-danger mr-sm-">Salir <i
            class="fa fa-sign-out"></i></button>
      </a>

    </form>
  </div>








</nav>
<div class="body">
  <!--Seccion del profesor-->
  <div class="container-fluid">
    <app-profesor id="profesor" *ngIf="profesor"></app-profesor>
  </div>

  <!--Seccion del estudiante-->
  <div class="container-fluid">
    <app-estudiante id="estudiante" *ngIf="estudiante" (estudianteIniciado)="iniciarSesion($event)"></app-estudiante>
  </div>
  
  <div *ngIf="(!dentro && !visualizacion) || visualizacion">
    <br>
    <br>
  </div>
  <div *ngIf="!dentro && !visualizacion" class="row justify-content-center">
    <div class="col-8 text-center">
      <h4>Le damos la bienvenida a la aplicacion web</h4>
    </div>
  </div>
  <div *ngIf="(!dentro && !visualizacion) || visualizacion">
    <br>
    <br>
  </div>
  <div *ngIf="!dentro && !visualizacion" class="row justify-content-center">
    <div class="col-auto col-sm-6 text-center">
      <br>
      <br>
      <img height="380px" width="380px" src="assets/Logo10.png">
    </div>
    <div class="col-auto col-md-auto text-right">
      <br>
      <div class="text-center">
        <button type="button" (click)="entrarProfesor()" class="btn btn-primary btn-circle"><i class="fas fa-user-graduate"></i> Profesor</button>
      </div>
      <br>
      <div class="text-center">
        <button type="button" (click)="entrarEstudiante()" class="btn btn-success btn-circle"><i class="fas fa-user"></i> Estudiante</button>
      </div>
    </div>
  </div>
  <div *ngIf="visualizacion" class="row justify-content-center">
    <div *ngIf="acercaDe" class="col-6">
      <h4>Acerca de </h4>
      <ul>
        <li>
          <p>
            Autor: Alejandro José Martínez Sánchez</p>
        </li>
        <li>
          <p>
            Encargado de desarrollar la aplicación EmotionFace como correspondencia al Trabajo de Fin de Grado de
            Ingeniería
            Informatica, en la intensificación de Tencologias de la Información.</p>
        </li>
        <li>
          <p>
            Herramienta para facilitar la tarea didactica a los docentes, con posibilidad de elaborar graficos y
            estadisticas
            sobre la evolucion de sus alumnos en las activiades realizadas.
          </p>
        </li>
        <li>
          <p>
            Fecha: Junio 2020
          </p>
        </li>
      </ul>
      <div class="text-center">
        <button type="button" (click)="cerrarAcercaDe()" class="btn btn-outline-danger">Cerrar</button>
      </div>

    </div>
    <div *ngIf="privacidad" class="col-6">
      <h4>Privacidad </h4>
      <p>
        El uso de esta aplicación utiliza información de caracter personal, a la hora de hacer un escaneo de la cara,
        para la realización de la computación afectiva, pero no realiza ningun tipo de almanenamiento de dichas
        imagenes
        solo de los datos obtenidos.
      </p>
      <br>
      <div class="text-center">
        <button type="button" (click)="cerrarPrivacidad()" class="btn btn-outline-danger">Cerrar</button>
      </div>
    </div>
  </div>
  <div *ngIf="(!dentro && !visualizacion) || visualizacion">
    <br>
    <br>
  </div>
  <div *ngIf="(!dentro && !visualizacion) || visualizacion">
    <br>
    <br>
  </div>
</div>
<div class="footer container-fluid" style="background-color:rgba(30, 30, 30,0.9); z-index: 2;">
  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <h4><i>EmotionFace</i></h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <div class="row">
        <div class="col-12">
          <a style="cursor: pointer; color: white;" (click)="ponerAcercaDe()">
            <h6>Acerda de</h6>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a style="cursor: pointer; color: white;" (click)="ponerPrivacidad()">
            <h6>Privacidad</h6>
          </a>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-12">
          <a style="cursor: pointer; color: white;"><h6 href="">RGPD</h6></a>
        </div>
      </div>-->

    </div>
    <div class="col-4 text-center">

      <img style="cursor: pointer;" height="30px" width="30px" src="assets/Logo10.png">
    </div>
    <div class="col-4 text-center">
      <div class="row">
        <div class="col-12">
          <h6>Redes Sociales</h6>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-1 col-auto">
          <a class="icono_rrss" href="https://www.instagram.com/?hl=es" target="_blank"><i class="fa fa-instagram fa-2x"
              width="15" height="15"></i></a>
        </div>
        <br>
        <div class="col-sm-1 col-auto">
          <a class="icono_rrss" href="https://www.facebook.com/alejandrojose.martinez.12" target="_blank"><i
              class="fa fa-facebook fa-2x" width="15" height="15"></i></a>
        </div>
        <br>
        <div class="col-sm-1 col-auto">
          <a class="icono_rrss" href="https://github.com/msalejandrojose/emotionapp" target="_blank"><i
              class="fa fa-github fa-2x" width="15" height="15"></i></a>
        </div>
        <div class="col-sm-1 col-auto">
          <a class="icono_rrss" href="https://www.linkedin.com/in/alejandro-jos%C3%A9-256a211a9/" target="_blank"><i
              class="fa fa-linkedin fa-2x"></i></a>
        </div>
        <div class="col-sm-1 col-auto">
          <a class="icono_rrss" href="mailto:msalejandrojose7@gmail.com" target="_blank"><i
              class="fa fa-envelope fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <p><i>
          Esta aplicación Web esta desarrollada como Trabajo de Fin de Grado para la Universidad de Castilla-La Mancha
          UCLM, Escuela Politécnica Superior de Albacete, a fecha de Junio 2020.
        </i></p>
    </div>
  </div>
  <br>
</div>

<!--Rutas-->
<router-outlet></router-outlet>