<div class="card">
  <div class="card-body">
    <h5 class="card-title">Editar Actividad</h5>
    <mat-horizontal-stepper linear #stepper>
      <mat-step label="Crear Actividad" [stepControl]="datosPrimarios">
        <br>
        <form>
          <div class="row justify-content-around">
            <div [formGroup]="datosPrimarios" class="col-5 text-left">
              <div class="row">
                <label>Nombre de la Actividad</label>
              </div>
              <div class="row">
                <input formControlName="fromControlNombreActividad" [(ngModel)]="editarActividad.nombre" type="text"
                  class="form-control" id="nombreActividad" placeholder="Nombre de la clase" required
                  [ngClass]="{ 'is-invalid': submitted && f.fromControlNombreActividad.errors }">
                <div *ngIf="submitted && f.fromControlNombreActividad.errors" class="invalid-feedback">
                  <div *ngIf="f.fromControlNombreActividad.errors.required">Nombre es requerido</div>
                </div>
              </div>
              <br>
              <div class="row">
                <label>Nombre del Profesor</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <mat-select [(value)]="profesorSeleccionado.nombre">
                      <mat-select-filter [array]="listaProfesores" [placeholder]="'Filtrar por nombre...'"
                        [displayMember]="'nombre'" (filteredReturn)="filteredList1 = $event"></mat-select-filter>
                      <mat-option *ngFor="let profesor of filteredList1" [(value)]="profesor.nombre">
                        <!--<a (click)="selecionarProfesor(profesor)">{{profesor.nombre}} {{profesor.apellidos}}</a>-->
                        <div (click)="selecionarProfesor(profesor)">
                          <a>{{profesor.nombre}} {{profesor.apellidos}}</a>
                        </div>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <button type="button" (click)="verAnadirProfesor()" class="btn btn-outline-success text-right"><i
                      class="fa fa-plus"></i> Añadir Profesor</button>
                </div>
              </div>
              <br>
              <br>
            </div>
            <div *ngIf="anadirProfesor" class="col-md-5 col-auto card">
              <div class="card-body">
                <h6 class="card-title">Añadir Profesor</h6>
                <label>Nombre del Profesor</label>
                <input [(ngModel)]="nombreProfesor" name="nomPrf2" type="text" class="form-control"
                  placeholder="Nombre del profesor">
                <br>
                <label>Apellidos del Profesor</label>
                <input [(ngModel)]="apellidosProfesor" name="nomPrf3" type="text" class="form-control"
                  placeholder="Apellidos del Profesor">
                <br>
                <label>Nombre del Departamento</label>
                <input [(ngModel)]="departamentoProfesor" name="nomPrf4" type="text" class="form-control"
                  placeholder="Departamento del Profesor">
                <br>
                <div class="row justify-content-center">
                  <div class="col-6 text-center">
                    <button type="button" (click)="cancelarAnadirProfesor()"
                      class="btn btn-outline-danger text-right"><i class="fa fa-times-circle"></i> Cerrar</button>
                  </div>
                  <div class="col-6 text-center">
                    <button type="button" (click)="anadirProfesorLista()" class="btn btn-outline-success text-right"><i
                        class="fa fa-plus"></i> Añadir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-3 text-center">
              <button type="button" (click)="cerrarModal()" class="btn btn-danger"><i class="fa fa-times-circle"></i>
                Cancelar</button>
            </div>
            <div class="col-3 text-center">
              <button mat-button matStepperNext class="btn btn-success" >Siguiente Paso <i
                  class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step label="Seleccionar Alumnos">
        <!--Tabla de alumnos-->
        <br>

        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>
        </div>

        <div class="example-container">

          <mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="apellidos">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="clase">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Clase </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.clase}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <br>
        <div class="row justify-content-md-center">
          <div class="col-3 text-center">
            <button type="button" (click)="cerrarModal()" class="btn btn-danger"><i class="fa fa-times-circle"></i>
              Cancelar</button>
          </div>
          <div class="col-3 text-center">
            <button mat-button matStepperPrevious class="btn btn-dark"><i class="fa fa-arrow-left"></i> Volver
              atras</button>
          </div>
          <div class="col-3 text-center">
            <button *ngIf="selection.selected.length==0" mat-button class="btn btn-success" (click)="seleccionarUnAlumno()">Actualizar Alumnos <i
              class="fa fa-arrow-right"></i></button>
            <button *ngIf="selection.selected.length>0" mat-button matStepperNext class="btn btn-success" (click)="ponerAlumnos()">Actualizar Alumnos <i
                class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Localizacion de los alumnos">
        <div class="row justify-content-center">
          <div class="col-6">
            <h4>Localizacion de Alumnos</h4>
            <div id="clase" class="example-boundary">
              <!--<app-alumno *ngFor="let item of alumnosSeleccionados" [alumno]="item"></app-alumno>-->
              <div *ngFor="let item of alumnosSeleccionados" class="example-box" ondrop="myFunction(item)"
                [cdkDragFreeDragPosition]="item.posicion" cdkDragBoundary=".example-boundary" cdkDrag
                (cdkDragEnded)="dragEnded($event,item)">
                {{item.estudiante.nombre}}
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
          <div class="col-3 text-center">
            <button type="button" (click)="cerrarModal()" class="btn btn-danger"><i class="fa fa-times-circle"></i>
              Cancelar</button>
          </div>
          <div class="col-3 text-center">
            <button mat-button matStepperPrevious class="btn btn-dark"><i class="fa fa-arrow-left"></i> Volver
              atras</button>
          </div>
          <div class="col-3 text-center">
            <button mat-button matStepperNext class="btn btn-success" (click)=actualizar()>Actualizar <i
                class="fa fa-save"></i></button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>